.card-list-item{
  position: relative;
  border: 1px solid black;
  list-style: none;
  width: 300px;
}
.list-img{
  width: 100%;
}
.list-item-text{
  font-family: "Times New Roman";
}

.item-favourite{
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 30px;
}
.list-item-delete-btn{
  position: absolute;
  top: 52%;
  right: 10px;
  font-size: 40px;
}

.button-primary{
  background: gray;
  font: bold 1rem/1 poppins;
  color: black;
  height: 40px;
  width: 150px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 4px;
}

