.page-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-logo{
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.header-icons-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icons{
  width: 30px;
  height: 30px;
}